<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuPNViOAyngEFI1Ta3jCbDB9k_o1mhb7I</string>
	<key>GCM_SENDER_ID</key>
	<string>496751188253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuios.WanderlustAppiOS</string>
	<key>PROJECT_ID</key>
	<string>wanderlust-316c0</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderlust-316c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496751188253:ios:604d3981ba9c105bc069f4</string>
</dict>
</plist>